- @page_title = "Browse Hosts"
%h1.page-title= @page_title
%table.list
  %tr
    %th Name
    %th
  - @records.each do |h|
    %tr{:class => cycle('odd','even')}
      %td= h(h.name)
      %td
        %ul.actions
          %li= link_for(h, :label => 'Details')
= render(:partial => '/common/pagination', :locals => {:record_pages => @record_pages})
