- @page_title = "Host: #{h(@host.name)}"
%h1.page-title= @page_title

%h2 Variants

%table.list
  %tr
    %th Variant
    %th
  - @variants.each do |v|
    %tr{:class => cycle('odd','even')}
      %td= h(v)
      %td
        %ul.actions
          %li= link_to('Details', :controller => 'results/test_run', :action => 'list_by_variant', :host_name => @host.name, :test_run_variant => v)
