- @content_for_breadcrumbs = draw_breadcrumbs(@record.parent_node)
- @page_title = "Build Target: #{h(@record.name)}"
%h1.page-title= @page_title

%h3 Target Parameters
%table.details
  - @record.params.each_pair do |k,v|
    %tr
      %th= h(k)
      %td= h(v)
