<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<body style="margin: 10px 10px 10px 10px; background-color: #FFFFFF; color: #000000; font-family: verdana, arial, helvetica, sans-serif;">
<h2>Regression summary for <%= h(@test_run.variant) %> (r<%= h(@test_run.revision) %>) on <%= h(@host.name) %>, <%= h(@test_run.occurred_at) %></h2>
<% report_url = url_for(:controller => 'results/test_run', :action => 'regression_report', :host_name => @host.name, :test_run_variant => @test_run.variant, :test_run_id => @test_run.id, :only_path => false) %>
<p>See the <a href="<%= report_url %>">Full Report</a></p>
<% if @report.test_runs.size > 1 %>
<% scm_url = SystemSetting['scm.url'] %>
<p>Revisions covered by this test run: <%= ((@report.test_runs[@report.test_runs.size - 2].revision)..(@report.test_runs[@report.test_runs.size - 1].revision)).collect {|r| revision_link_for_url(scm_url, r)}.join(",\n") %></p>
<% end %>
<p>Test Runs covered by this report: <%= @report.test_runs.collect do |t|
  link_to("#{t.label} (r#{t.revision})", :controller => '/results/test_run', :action => 'show', :host_name => t.host.name, :test_run_variant => t.variant, :test_run_id => t.id, :only_path => false)
  end.join(",\n") %></p>

<h2>Failed <%= h(@test_run.non_successes.size) %>/<%= h(@test_run.test_case_results.size) %> (<%= (@test_run.non_successes.size.to_f / @test_run.test_case_results.size.to_f * 100.0).to_i %>%)</h2>

<h3 style="color: #FF0000;"><%= h(@report.new_failures.size) %> new failures this run</h3>
<% if @report.new_failures.size > 0 %>
<table style="font-size: x-small; border-collapse: collapse; font-weight: normal;">
<% @report.new_failures.each do |t| %>
  <tr>
    <td style="padding-right: 0.2em;"><%= h(t['build_configuration_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['test_configuration_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['group_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['test_case_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['test_case_result']) %></td>
    <td><%= test_link(t, false) %></td>
  </tr>
<% end %>
</table>
<% end %>

<h3 style="color: #FF8c00;"><%= h(@report.missing_tests.size) %> missing tests this run</h3>
<% if @report.missing_tests.size > 0 %>
<table style="font-size: x-small; border-collapse: collapse; font-weight: normal;">
<% @report.missing_tests.each do |t| %>
  <tr>
    <td style="padding-right: 0.2em;"><%= h(t['build_configuration_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['test_configuration_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['group_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['test_case_name']) %></td>
  </tr>
<% end %>
</table>
<% end %>

<h3 style="color: #00FF00;"><%= h(@report.new_successes.size) %> new successes this run</h3>
<% if @report.new_successes.size > 0 %>
<table style="font-size: x-small; border-collapse: collapse; font-weight: normal;">
<% @report.new_successes.each do |t| %>
  <tr>
    <td style="padding-right: 0.2em;"><%= h(t['build_configuration_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['test_configuration_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['group_name']) %></td>
    <td style="padding-right: 0.2em;"><%= h(t['test_case_name']) %></td>
    <td><%= test_link(t, false) %></td>
  </tr>
<% end %>
</table>
<% end %>

<h3 class="intermittent_failures"><%= h(@report.intermittent_failures.size) %> intermittent failures over this week</h3>
<h3 class="consistent_failures"><%= h(@report.consistent_failures.size) %> consistent failures over this week</h3>

<% if @report.statistics.size > 0 or @report.test_runs.size > 1 %>
<h2>Performance Statistics</h2>
<table style="font-size: x-small; border-collapse: collapse; font-weight: normal;">
  <tr style="text-align: center;">
    <td></td>
    <% @report.test_runs.each do |tr| %>
      <td style="vertical-align: top; padding: 0.3em; background-color: <%= cycle('rgb(230,230,230)', 'white', :name => 'columns') -%>;"><%= test_run_label(tr, @report.test_runs) %></td>
      <% reset_cycle('rows') %>
    <% end %>
  </tr>
  <tr style="text-align: center;">
    <td style="text-align: right; padding: 0.3em; background-color: <%= cycle('rgb(230,230,230)', 'white', :name => 'rows') -%>;">Success Rate</td>
    <% @report.test_runs.each do |tr| %>
      <td style="background-color: silver;"><%= h("#{tr.successes.size}/#{tr.test_case_results.size}") %></td>
      <% reset_cycle('rows') %>
    <% end %>
  </tr>
  <% @report.statistics.each do |r| %>
    <tr style="text-align: center;">
      <td style="text-align: right; padding: 0.3em; background-color: <%= cycle('rgb(230,230,230)', 'white', :name => 'rows') -%>;"><%= h(r['name']) %></td>
      <% @report.test_runs.each do |tr| %>
        <td style="background-color: silver;"><%= perf_stat(tr.id, r) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>

<% if @report.bc_by_tr.size > 0 %>
<h2>Build Configuration By Test Run</h2>
<table style="font-size: x-small; border-collapse: collapse; font-weight: normal;">
  <tr style="text-align: center;">
    <td></td>
    <% @report.test_runs.each do |test_run| %>
      <td style="vertical-align: top; padding: 0.3em; background-color: <%= cycle('rgb(230,230,230)', 'white', :name => 'columns') -%>;"><%= test_run_label(test_run, @report.test_runs) %></td>
      <% reset_cycle('rows') %>
    <% end %>
  </tr>
  <% @report.bc_by_tr.each do |r| %>
    <tr style="text-align: center;">
      <td style="text-align: right; padding: 0.3em; background-color: <%= cycle('rgb(230,230,230)', 'white', :name => 'rows') -%>;"><%= h(r['build_configuration_name']) %></td>
      <% @report.test_runs.each do |tr| %>
        <%= cell(r["test_run_#{tr.id}"].to_i) %>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>

<% if @report.tc_by_tr.size > 0 %>
<h2>Test Case By Test Run</h2>
<table style="font-size: x-small; border-collapse: collapse; font-weight: normal;">
  <tr style="text-align: center;">
    <td></td>
    <% @report.test_runs.each do |test_run| %>
      <td style="vertical-align: top; padding: 0.3em; background-color: <%= cycle('rgb(230,230,230)', 'white', :name => 'columns') -%>;"><%= test_run_label(test_run, @report.test_runs) %></td>
      <% reset_cycle('rows') %>
    <% end %>
  </tr>
  <% @report.tc_by_tr.each do |r| %>
    <tr style="text-align: center;">
      <td style="text-align: right; padding: 0.3em; background-color: <%= cycle('rgb(230,230,230)', 'white', :name => 'rows') -%>;"><%= h(r['test_case_name']) %></td>
      <% @report.test_runs.each do |tr| %>
        <%= cell(r["test_run_#{tr.id}"].to_i) %>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>

</body>
</html>
