%h4 Explorer Facets
%ul
  %li
    %a{:href => url_for(:controller => '/explorer/filter', :action => 'list'), :title => 'Browse the Filters in the system.'}
      Filter Browser
  %li
    %a{:href => url_for(:controller => '/explorer/query', :action => 'list'), :title => 'Browse the Saved Queries in the system.'}
      Query Browser
  %li
    %a{:href => url_for(:controller => '/explorer/report', :action => 'list'), :title => 'Browse the Saved Reports in the system.'}
      Report Browser
