%h4 Explorer Facets
%ul
  %li
    %a{:href => url_for(:controller => '/explorer/filter', :action => 'list'), :title => 'Browse the Filters in the system.'}
      Filter Browser
  %li
    %a{:href => url_for(:controller => '/explorer/summarizer', :action => 'list'), :title => 'Browse the Summarizers in the system.'}
      Summarizer Browser
