%table.report
  %tr
    %th.pivot
    - @results.column_headers.each do |c|
      %th.column= h(@results.column.label_for(c))
  - @results.row_headers.each_with_index do |r,r_index|
    %tr
      %th.row= h(@results.row.label_for(r))
      - 0.upto(@results.column_headers.size - 1) do |c_index|
        = cell(@results.tabular_data[r_index][c_index].to_i)