%h4 Users
%ul
  %li
    %a{:href => url_for(:controller => '/admin/user', :action => 'list'), :title => 'Browse the Users in the system.'}
      User Browser
%h4 System
%ul
  %li
    %a{:href => url_for(:controller => '/admin/sysinfo', :action => 'show'), :title => 'View information about the system.'}
      System Info
  %li
    %a{:href => url_for(:controller => '/admin/audit_log', :action => 'list'), :title => 'View the audit log.'}
      Audit Log
