- if (@query.errors and @query.errors.count > 0)
  .form_messages
    %h4
      = pluralize(@query.errors.count, 'error')
      with the query.
    - if @query.errors[:base]
      - errors = @query.errors[:base]
      - errors = errors.is_a?(Array) ? errors : [errors]
      %ul
        - errors.each do |e|
          %li= h(e)
