- @page_title = "Edit Query"
%h1.page-title= @page_title
%form{:action => url_for(:action => 'edit', :id => @query.id), :method => 'post' }
  = render(:partial => 'form', :locals => {:save_label => 'Save'})
