- @page_title = "Access Denied"
%h1.page-title Access Denied
%p You do not have permission to view this URL.

%p
  If you think this message is wrong, please consult your
  %a{:href => administrators_url(), :title => "Administrators details"}
    administrators
  about getting the necessary permissions.