- @page_title = "Browse Reports"
%h1.page-title= @page_title 
%p
  CatTrack has several saved reports as well as a mechanism for generating ad-hoc reports. Below is a list of global saved reports. A regression reports for a particular test run is also linked form the test run page.

%table.list
  %tr
    %th Name
    %th Description
    %th Operations
  - @reports.each do |h|
    %tr
      %td= h(h.name)
      %td= h(h.description)
      %td
        %ul.actions
          %li
            %a{:href => url_for(:action => 'show', :key => h.key) } Show
= render(:partial => '/common/pagination', :locals => {:record_pages => @report_pages})
